@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Roboto+Condensed:wght@300&display=swap");
.Header {
  display: flex;
  flex-direction: row;
  background-color: #444c66;
  padding-left: 10px;
  padding-right: 10px;
  width: 1080px;
  border-radius: 0px 0px 30px 30px;
}
.Shiljih {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
}
.yellow i {
  margin-right: 30px;
  margin-left: 80px;
  color: #fff;
}
.blue {
  color: #fff;
}
.homeI {
  display: flex;
  align-items: center;
  margin-right: 30px;
  margin-left: 30px;
}
.homeI i {
  color: #fff;
}
.b {
  display: flex;
  justify-content: center;
}
